#banner{
    margin-top: 50px;
    position: relative;
   
}
#banner img{
    width: 100%;
    height: 100%;
}
#banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(40%);
}
a#sintesis{
    margin-left: 26%;
    text-decoration: none;
    color :white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 6px;
}
#banner h3{
    font-size: 14px;
    text-align: center;
    color:white;
    text-shadow: 2px 2px 5px #333;
}
#banner p{
    font-size: 10px;
    text-align: center;
    color:white;
}
.efecto_color {
    filter: grayscale(100%);
    transition: filter 0.5s ease, transform 0.5s ease;
    cursor: pointer;
}

.efecto_color:hover {
    filter: grayscale(0%);
    transform: scale(1.05); 
        
    }
@media (min-width: 1024px) {
    a#sintesis{
    margin-left: 40%;
    text-decoration: none;
    color :white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 6px;
}
    #banner h3{
    font-size: 40px;
    text-align: center;
    color:white;
    text-shadow: 2px 2px 5px #333;
}
    
}